<section
  class="loader d-flex justify-content-center align-items-center"
  *ngIf="isLoading"
>
  Data is loading from server
</section>

<div *ngIf="!errorMessage; else errorM">
  <section class="container py-3" *ngIf="!isLoading">
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control w-50" [(ngModel)]="term" />
    </div>
    <div class="row g-2 justify-content-center mt-3">
      <div
        *ngFor="let user of userData | search : term"
        class="col-lg-3 col-md-4 mx-1 d-flex justify-content-center"
      >
        <div
          class="card rounded-3"
          style="width: 20rem"
          [routerLink]="['/user', user.id]"
        >
          <div class="img-cover rounded-3">
            <img [src]="user.avatar" class="card-img-top rounded-circle" />
          </div>
          <div class="card-body">
            <h2 class="card-title">
              {{ user.first_name }} {{ user.last_name }}
            </h2>

            <a class="card-text" [href]="user.email">
              {{ user.email }}
            </a>
            <a class="btn d-block mt-3">View Details</a>
          </div>
        </div>
      </div>

      <div class="row py-5 justify-content-center">
        <nav
          aria-label="Page navigation example"
          class="d-flex justify-content-center"
        >
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="prev()">Previous</a>
            </li>
            <li
              *ngFor="let item of paginationarr; let i = index"
              class="page-item"
            >
              <a class="page-link" (click)="getPage(item)">{{ item }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="next()">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</div>

<ng-template #errorM> {{ errorMessage }} </ng-template>
